$background: #000000;
$text: #ffffff;
$coverbackground: #eae3c9;

body{
    background-color: $background;
    color: $text;
}
header1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: dotted 20px;
    width: 300px;
    margin: 20px auto 25px auto;
}
header2{
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.stars {
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.seriesreview {
    display: flex;
    &__text {
        font-size: 20px;
        text-indent:40px;
        width: 370px;
        margin: 15px 40px 15px 5px;
    }
    &__img {
        background-color: $coverbackground;
        border-radius: 15px;
    }
}
header3{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}